<div class="general">
<h1> These are all of your tweets </h1>
<ul>
<div class="container">
<center><form action="/users/<%=@user.id%>/tweets" method="post">
Post a New Tweet:
<input type="text" name="body" placeholder="Your Tweet here"><input type="submit" value="Tweet">
</form></center>
</div>


<%@tweets.each do |tweet|  %>
  <li><%= tweet.body %></li>
  User: <%= tweet.user.username %>
  <form action= '/users/<%= @user.id %>/tweets/<%=tweet.id %>/edit' method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="tweet" placeholder="Edit tweet">
  <input type="submit" value="Edit">
  </form>

  <form action= '/users/<%= @user.id %>/tweets/<%=tweet.id %>/edit' method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </form><br>
<% end %>
</ul>
</div>

