<div class="general">
  <% if @user.id == session[:user_id] %>
  <h1> Welcome, <%=@user.username.upcase %>!</h1>
  <% else %>
  <h1> <%= @user.username.upcase%>'s Profile</h1>
  <!-- Button here --><form action="/followees/<%=@user.id%>" method="post">
  <input type="submit" value="Follow">
</form>
<form action="/followees/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="Delete">
  <input type="submit" value="Unfollow!">
</form>
<% end %>

<div class="container-followings">
  <a href="/followers/<%=@user.id%>">Followers</a> || <a href="/followees/<%=@user.id%>">Following</a><br><br>

  <% if @user.id == session[:user_id] %>
  <center><form action="/users/<%=@user.id%>/tweets" method="post">
    Post a New Tweet:
    <input type="text" name="body" placeholder="Your Tweet here"><input type="submit" value="Tweet">
  </form></center>
  <% end %>
  <br>
  <br>
  <br>
</div>

<div class="tweets" >
  <%@tweets.each do |tweet|  %>

  <p><%= tweet.body %></p>
  User: <%= tweet.user.username %><br><br>
  <% if @user.id == session[:user_id] %>
  <form action= '/users/<%= @user.id %>/tweets/<%=tweet.id %>/edit' method="post">
    <input type="hidden" name="_method" value="put">
    <input type="text" name="tweet" placeholder="Edit tweet">
    <input type="button" class="btn btn-success" value="Edit">
  </form>

  <form action= '/users/<%= @user.id %>/tweets/<%=tweet.id %>/edit' method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="button" class="btn btn-danger" value="Delete">
  </form><br>
  <% end %>
  <% end %>

</div>



